/*-- https://quarto.org/docs/presentations/revealjs/themes.html --*/

/*-- scss:defaults --*/

/*-- scss:rules --*/

.reveal h1 {
  text-align: center;
}

.reveal h2 {
  border-bottom: 1px solid #999999;
  margin-bottom: 1.5rem;
}

.caption{
  text-align: center;
}